<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pomocni-materijal-heading" jhiTranslate="manProdApp.pomocniMaterijal.home.createOrEditLabel">Create or edit a Pomocni Materijal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pomocniMaterijal.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pomocniMaterijal.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.sifra" for="field_sifra">Sifra</label>
                    <input type="text" class="form-control" name="sifra" id="field_sifra"
                        [(ngModel)]="pomocniMaterijal.sifra" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.naziv" for="field_naziv">Naziv</label>
                    <input type="text" class="form-control" name="naziv" id="field_naziv"
                        [(ngModel)]="pomocniMaterijal.naziv" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.vrsta" for="field_vrsta">Vrsta</label>
                    <input type="text" class="form-control" name="vrsta" id="field_vrsta"
                        [(ngModel)]="pomocniMaterijal.vrsta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.jedMere" for="field_jedMere">Jed Mere</label>
                    <select class="form-control" name="jedMere" [(ngModel)]="pomocniMaterijal.jedMere" id="field_jedMere" >
                        <option value="KOM">{{'manProdApp.JedMere.KOM' | translate}}</option>
                        <option value="KG">{{'manProdApp.JedMere.KG' | translate}}</option>
                        <option value="L">{{'manProdApp.JedMere.L' | translate}}</option>
                        <option value="M2">{{'manProdApp.JedMere.M2' | translate}}</option>
                        <option value="M3">{{'manProdApp.JedMere.M3' | translate}}</option>
                        <option value="TABLA">{{'manProdApp.JedMere.TABLA' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.namena" for="field_namena">Namena</label>
                    <input type="text" class="form-control" name="namena" id="field_namena"
                        [(ngModel)]="pomocniMaterijal.namena" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.nabavnaCena" for="field_nabavnaCena">Nabavna Cena</label>
                    <input type="number" class="form-control" name="nabavnaCena" id="field_nabavnaCena"
                        [(ngModel)]="pomocniMaterijal.nabavnaCena" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.napomena" for="field_napomena">Napomena</label>
                    <input type="text" class="form-control" name="napomena" id="field_napomena"
                        [(ngModel)]="pomocniMaterijal.napomena" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.pomocniMaterijal.zahvati" for="field_zahvati">Zahvati</label>
                    <select class="form-control" id="field_zahvati" name="zahvati" [(ngModel)]="pomocniMaterijal.zahvati">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zahvatiOption.id === pomocniMaterijal.zahvati?.id ? pomocniMaterijal.zahvati : zahvatiOption" *ngFor="let zahvatiOption of zahvatis; trackBy: trackZahvatiById">{{zahvatiOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
