<div>
    <h2 id="page-heading">
        <span jhiTranslate="manProdApp.kupovniProizvod.home.title">Kupovni Proizvods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kupovni-proizvod" [routerLink]="['/kupovni-proizvod/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="manProdApp.kupovniProizvod.home.createLabel">
            Create new Kupovni Proizvod
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kupovniProizvods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.naziv">Naziv</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.vrsta">Vrsta</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.jedMere">Jed Mere</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.namena">Namena</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.cena">Cena</span></th>
            <th><span jhiTranslate="manProdApp.kupovniProizvod.napomena">Napomena</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kupovniProizvod of kupovniProizvods ;trackBy: trackId">
                <td><a [routerLink]="['/kupovni-proizvod', kupovniProizvod.id, 'view' ]">{{kupovniProizvod.id}}</a></td>
                <td>{{kupovniProizvod.naziv}}</td>
                <td>{{kupovniProizvod.vrsta}}</td>
                <td jhiTranslate="{{'manProdApp.JedMere.' + kupovniProizvod.jedMere}}">{{kupovniProizvod.jedMere}}</td>
                <td>{{kupovniProizvod.namena}}</td>
                <td>{{kupovniProizvod.cena}}</td>
                <td>{{kupovniProizvod.napomena}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/kupovni-proizvod', kupovniProizvod.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/kupovni-proizvod', kupovniProizvod.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'kupovni-proizvod/'+ kupovniProizvod.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
