<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-proizvodni-pogoni-heading" jhiTranslate="manProdApp.proizvodniPogoni.home.createOrEditLabel">Create or edit a Proizvodni Pogoni</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!proizvodniPogoni.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="proizvodniPogoni.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.naziv" for="field_naziv">Naziv</label>
                    <input type="text" class="form-control" name="naziv" id="field_naziv"
                        [(ngModel)]="proizvodniPogoni.naziv" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.lokacija" for="field_lokacija">Lokacija</label>
                    <input type="text" class="form-control" name="lokacija" id="field_lokacija"
                        [(ngModel)]="proizvodniPogoni.lokacija" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.povrsina" for="field_povrsina">Povrsina</label>
                    <input type="number" class="form-control" name="povrsina" id="field_povrsina"
                        [(ngModel)]="proizvodniPogoni.povrsina" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.rukovodilac" for="field_rukovodilac">Rukovodilac</label>
                    <input type="text" class="form-control" name="rukovodilac" id="field_rukovodilac"
                        [(ngModel)]="proizvodniPogoni.rukovodilac" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.napomena" for="field_napomena">Napomena</label>
                    <input type="text" class="form-control" name="napomena" id="field_napomena"
                        [(ngModel)]="proizvodniPogoni.napomena" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.proizvodneLinije" for="field_proizvodneLinije">Proizvodne Linije</label>
                    <select class="form-control" id="field_proizvodneLinije" name="proizvodneLinije" [(ngModel)]="proizvodniPogoni.proizvodneLinije">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proizvodneLinijeOption.id === proizvodniPogoni.proizvodneLinije?.id ? proizvodniPogoni.proizvodneLinije : proizvodneLinijeOption" *ngFor="let proizvodneLinijeOption of proizvodnelinijes; trackBy: trackProizvodneLinijeById">{{proizvodneLinijeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manProdApp.proizvodniPogoni.obradniSistem" for="field_obradniSistem">Obradni Sistem</label>
                    <select class="form-control" id="field_obradniSistem" name="obradniSistem" [(ngModel)]="proizvodniPogoni.obradniSistem">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="obradniSistemOption.id === proizvodniPogoni.obradniSistem?.id ? proizvodniPogoni.obradniSistem : obradniSistemOption" *ngFor="let obradniSistemOption of obradnisistems; trackBy: trackObradniSistemById">{{obradniSistemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
