<div>
    <h2 id="page-heading">
        <span jhiTranslate="manProdApp.finalniProizvod.home.title">Finalni Proizvods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-finalni-proizvod" [routerLink]="['/finalni-proizvod/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="manProdApp.finalniProizvod.home.createLabel">
            Create new Finalni Proizvod
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="finalniProizvods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.naziv">Naziv</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.vrsta">Vrsta</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.jedMere">Jed Mere</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.namena">Namena</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.cena">Cena</span></th>
            <th><span jhiTranslate="manProdApp.finalniProizvod.napomena">Napomena</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finalniProizvod of finalniProizvods ;trackBy: trackId">
                <td><a [routerLink]="['/finalni-proizvod', finalniProizvod.id, 'view' ]">{{finalniProizvod.id}}</a></td>
                <td>{{finalniProizvod.naziv}}</td>
                <td>{{finalniProizvod.vrsta}}</td>
                <td jhiTranslate="{{'manProdApp.JedMere.' + finalniProizvod.jedMere}}">{{finalniProizvod.jedMere}}</td>
                <td>{{finalniProizvod.namena}}</td>
                <td>{{finalniProizvod.cena}}</td>
                <td>{{finalniProizvod.napomena}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/finalni-proizvod', finalniProizvod.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/finalni-proizvod', finalniProizvod.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'finalni-proizvod/'+ finalniProizvod.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
