<div>
    <h2 id="page-heading">
        <span jhiTranslate="manProdApp.pomocniProizvod.home.title">Pomocni Proizvods</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pomocni-proizvod" [routerLink]="['/pomocni-proizvod/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="manProdApp.pomocniProizvod.home.createLabel">
            Create new Pomocni Proizvod
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pomocniProizvods">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.naziv">Naziv</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.vrsta">Vrsta</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.jedMere">Jed Mere</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.namena">Namena</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.cena">Cena</span></th>
            <th><span jhiTranslate="manProdApp.pomocniProizvod.napomena">Napomena</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pomocniProizvod of pomocniProizvods ;trackBy: trackId">
                <td><a [routerLink]="['/pomocni-proizvod', pomocniProizvod.id, 'view' ]">{{pomocniProizvod.id}}</a></td>
                <td>{{pomocniProizvod.naziv}}</td>
                <td>{{pomocniProizvod.vrsta}}</td>
                <td jhiTranslate="{{'manProdApp.JedMere.' + pomocniProizvod.jedMere}}">{{pomocniProizvod.jedMere}}</td>
                <td>{{pomocniProizvod.namena}}</td>
                <td>{{pomocniProizvod.cena}}</td>
                <td>{{pomocniProizvod.napomena}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pomocni-proizvod', pomocniProizvod.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pomocni-proizvod', pomocniProizvod.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pomocni-proizvod/'+ pomocniProizvod.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
