<div>
    <h2 id="page-heading">
        <span jhiTranslate="manProdApp.stavkeUMagacinu.home.title">Stavke U Magacinus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stavke-u-magacinu" [routerLink]="['/stavke-u-magacinu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="manProdApp.stavkeUMagacinu.home.createLabel">
            Create new Stavke U Magacinu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stavkeUMagacinus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="manProdApp.stavkeUMagacinu.stanje">Stanje</span></th>
            <th><span jhiTranslate="manProdApp.stavkeUMagacinu.tipMagacina">Tip Magacina</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stavkeUMagacinu of stavkeUMagacinus ;trackBy: trackId">
                <td><a [routerLink]="['/stavke-u-magacinu', stavkeUMagacinu.id, 'view' ]">{{stavkeUMagacinu.id}}</a></td>
                <td>{{stavkeUMagacinu.stanje}}</td>
                <td jhiTranslate="{{'manProdApp.TipMagacina.' + stavkeUMagacinu.tipMagacina}}">{{stavkeUMagacinu.tipMagacina}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stavke-u-magacinu', stavkeUMagacinu.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stavke-u-magacinu', stavkeUMagacinu.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stavke-u-magacinu/'+ stavkeUMagacinu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
